<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="http://code.jquery.com/jquery-3.4.1.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <script  type="text/javascript">
        function signUp() {
            location.href = '/sign_up';
        }
        function signIn() {
            location.href = '/login';
        }
    </script>
    <body>
    <nav class="navbar navbar-dark" style="background-color:#252a37">
        <div class="container">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img src="logo.png"  width="50" height="50"/>
                </a>
            </div>
            <div class="col">
                <form>
                    <input class="form-inline" type="text" size="90" placeholder="Search video" aria-label="Search">
                </form>
            </div>
            <div class="col">
                <div class="dropdown open">
                    <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-toggler-icon" style="fg-color:#e3e3e3"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="signUp()">Sign Up</a>
                        <a class="dropdown-item" onclick="signIn()">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    </body>
</html>