<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="http://code.jquery.com/jquery-3.4.1.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <title>GLASTube</title>
    </head>
    <script type="text/javascript">
         function allUsers() {
            $.get("/get_users",
                function(data){
                    var str = "";
                    for(var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        str += data[i].id + ")" + data[i].nickname + "<br>";
                    }
                    $("html").html(str);
                }
            );
        }
        function signOut() {
            location.href = '/';
        }
    </script>
    <body>
        <nav class="navbar navbar-dark shadow-sm sticky-top" style="background-color:#252a37">
            <div class="container-fluid">
                <div class="col">
                    <a class="navbar-brand" href="/">
                        <img src="logo.png"  width="35" height="35"/>
                    </a>
                </div>
                <div class="col">
                    <form>
                        <input class="form-inline" type="text" size="90" placeholder="Search video" aria-label="Search">
                    </form>
                </div>
                <div class="col">
                    <div class="dropdown open" style="margin-left:400">
                        <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="dot" th:text="${username}"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" onclick="signUp()" th:text="${signup_signout}"></a>
                            <a class="dropdown-item" href="/signin_myprofile" th:text="${signin_myprofile}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="users"></div>
        <button type="button" onclick=allUsers()>Users List</button> <br>
        <button type="button" onclick=myVideos()>My videos</button>
        <button type="button" onclick="signOut()">Sign out</button>
    </body>
</html>