<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="http://code.jquery.com/jquery-3.4.1.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <title>GLASTube</title>
    </head>
    <script type="text/javascript">
         function allUsers() {
            $.get("/get_users",
                function(data){
                    var str = "";
                    for(var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        str += data[i].id + ")" + data[i].nickname + "<br>";
                    }
                    $("html").html(str);
                }
            );
        }
        function signOut() {
            if (confirm("Выйти из аккаунта?")) {
                location.href = '/';
            }
        }
    </script>
    <body>
        <div class="users"></div>
        <button type="button" onclick=allUsers()>Список пользователей</button> <br>
        <button type="button" onclick=myVideos()>Мои видео</button>
        <button type="button" onclick="signOut()">Выйти</button>
    </body>
</html>