<!DOCTYPE>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-3.4.1.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    </head>
    <script type="text/javascript">
         function register(data) {
            $.get("sign_up/" + document.getElementById("nickname").value + "/" + document.getElementById("login").value
                + "/" + document.getElementById("password").value,
                function(data){
                    console.log(data);
                }
            );
        }
        </script>
    <body>
        <br><br/><input id="nickname" type = "text"/> - nickname<br/>
        <br><br/><input id="login" type = "text"/> - login<br/>
        <br><br/><input id="password" type = "text"/> - password<br/>
        <button type="button" onclick="register(123)">Sign Up</button>
    </body>
</html>