<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="http://code.jquery.com/jquery-3.4.1.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script type="text/javascript" th:src="@{static/js/settings.js}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar shadow-sm sticky-top" style="background-color:white;opacity:0.9">
        <div class="container-fluid">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img src="logo.png"  width="35" height="35"/>
                </a>
            </div>
            <div class="col">
                <form>
                    <input class="form-inline" type="text" size="90" placeholder="Search video" aria-label="Search">
                </form>
            </div>
            <div class="col">
                <div class="dropdown open" style="margin-left:400">
                    <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span id="user" class="dot" th:text="${login}"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/signup_signout">Sign out</a>
                        <a class="dropdown-item" href="/signin_myprofile">My profile</a>
                        <a class="dropdown-item" href="/settings">Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
        <br><br/><input id="newLogin" type = "text"/> - new login<br/>
        <button type="button" onclick="newLogin()">Save new login</button><br/>
        <br><br/><input id="oldPassword" type = "password"/> - old password
        <br><br/><input id="newPassword" type = "password"/> - new password<br/>
        <button type="button" onclick=newPassword()>Save new password</button>
    </body>
</html>