<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="http://code.jquery.com/jquery-3.4.1.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script type="text/javascript" th:src="@{static/js/settings.js}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar shadow-sm sticky-top" style="background-color:white;opacity:0.9; margin-top:-110px">
        <div class="container-fluid">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img th:src="@{static/image/logo.jpg}" height="35"/>
                </a>
            </div>
            <div class="col">
                <form>
                    <input class="form-inline" type="text" size="90" placeholder="Search video" aria-label="Search">
                </form>
            </div>
            <div class="col">
                <div class="dropdown open" style="margin-left:400">
                    <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span id="user" class="dot" th:text="${login}"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/signup_signout">Sign out</a>
                        <a class="dropdown-item" href="/signin_myprofile">My profile</a>
                        <a class="dropdown-item" href="/settings">Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container form-signin" style="margin-top:100px">
        <h2 class="form-signin-heading">Settings</h2>
        <br>
        <p>
            <input id="newLogin" class="form-control" type="text" placeholder="New login">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="newLogin()">Save new login</button>
        <br>
        <p>
            <input id="oldPassword" class="form-control" type="password" placeholder="Old password">
        </p>
        <p>
            <input id="newPassword" class="form-control" type="password" placeholder="New password">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="newPassword()">Save new password</button>
    </div>
    </body>
</html>