<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-3.4.1.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script type="text/javascript" th:src="@{static/js/register.js}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">Please sign up</h2>
                <p>
                    <label class="sr-only">Login</label>
                    <input id="login" class="form-control" type="text" placeholder="Login">
                </p>
                <p>
                    <label class="sr-only">Password</label>
                    <input id="password" class="form-control" type="password" placeholder="Password">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick=register()>Sign up</button>
            </form>
        </div>
    </body>
</html>